page-mensajes-administrador {


    #botonAceptar {
        background-color: #cc0000;
    }

    #botonRechazar {
        background-color: #a6a6a6;
    }

    #botonesAdmin {
        padding-top: 10px;
        text-align: center;
    }

    #subheader{

        background-color: #cc0000;
        text-align: center;
        margin-top: 0px;        
    }

    #nombreConcesionario{

        font-size: 20px;
        color: white;
    }

    #titulo{

        text-align: left;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    #titulo2{

        text-align: left;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
    }

    #carta {

        background-color: #f2f2f2;
    }

    #arrow {

        color: black;
    }

}
