page-registrarse {

    #header{

        padding-top: 15px;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
    } 

    #pass{
        font-size: 15px;
    }

    #empleado{
        font-size: 15px;
    }

    #botonEntrar{
        padding-left: 15px;
        padding-top: 15px;
    }

    #letraBoton {
        font-size: 15px;
        background-color: #cc0000;
    }

    #user{
        font-size: 15px;
    }

    #check{

        font-size: 10px;
    }

    #botonRegistrar{
        text-align: center;
    }

    #aclaracion{
        
        font-size: 10px;
    }

    #errorEmail {
        padding-left: 15px;
    }

    #errorPass {
        padding-left: 15px;
    }
}
