page-registrarse {

    #header{

        padding-top: 15px;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
    } 

    #pass{
        font-size: 90%;
    }

    #botonEntrar{
        padding-left: 38%;
        padding-top: 8%;
    }

    #letraBoton {
        font-size: 110%;
    }

    #user{
        font-size: 90%;
    }

    #check{

        font-size: 10px;
    }

    #botonRegistrar{
        text-align: center;
    }
}
