<!--
  Generated template for the RegistrarsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="header">
    <img id="logo" src="assets/imgs/Logo1.png">
<ion-toolbar>
  <ion-title>Registrarse</ion-title>
</ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="myForm" novalidate> 
    <ion-list>

      <ion-item>
        <ion-label id = "user" color="dark" stacked>Usuario</ion-label>
          <ion-input id = "user" formControlName="email" type="email" placeholder="introduce tu email"></ion-input>
        </ion-item>

        <div id = "errorEmail" *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Campo obligatorio</p>
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">Formato de email incorrecto</p>
        </div>
      
        <ion-item>
          <ion-label id = "pass" color="dark" stacked>Contraseña</ion-label>
          <ion-input id = "pass" formControlName="pass" type="password" placeholder="introduce tu contraseña"></ion-input>
        </ion-item>

        <div id = "errorPass" *ngIf="myForm.get('pass').errors && myForm.get('pass').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('pass').hasError('required')">Campo obligatorio</p>
          <p color="danger" ion-text *ngIf="myForm.get('pass').hasError('pattern')">Contraseña débil</p>
        </div>

        <ion-item>
          <ion-label id="check">He leído y acepto los <a>términos y condiciones</a></ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>

      </ion-list>
  </form>    

      <div id = "botonRegistrar" >
          <button id = "letraBoton" [disabled]="myForm.invalid" ion-button large (click)="doPrompt()">Registrar</button>
      </div>  

</ion-content>
