page-inicio-sesion {
    #user{
        font-size: 90%;
    }

    #pass{
        font-size: 90%;
    }

    #botonEntrar{
        padding-left: 38%;
        padding-top: 8%;
    }

    #letraBoton {
        font-size: 110%;
    }
}
