body {
    background-color: coral
}


#formulario {
   
  
    margin: auto;
    width: 20%;
   

}

.listapedido{

    margin: auto;
    width: 20%;
    padding: auto;
}

.listaborrar{
    
    background-color: coral;
    margin: auto;
    width: 20%;
}