page-chat-usuario {

    #titulo{

        text-align: center;
        padding-bottom: 10px;
    }

    #subheader{

        background-color: #cc0000;
        text-align: center;
        margin-top: 0px;        
    }

    #nombreConcesionario{

        font-size: 20px;
        color: white;
    }

    #botonEliminar {

        background-color: #a6a6a6;
    }

    #eliminar {

        padding-top: 15px;
        text-align: center;
    }
    
    #carta {

        background-color: #f2f2f2;
    }
}
