page-chat-usuario {

    #subheader{

        background-color: red;
        text-align: center;
        margin-top: 0px;        
    }

    #nombreConcesionario{

        font-size: 20px;
        color: white;
    }

    #titulo{

        text-align: center;
    }

}
